build_directories={
	required={
		"build"
		"build/gdb"
		"build/hashes"
		"build/initramfs"
		"build/initramfs/boot"
		"build/initramfs/boot/module"
		"build/initramfs/etc"
		"build/kernel"
		"build/keys"
		"build/lib"
		"build/module"
		"build/objects"
		"build/objects/kernel"
		"build/objects/kernel_coverage"
		"build/objects/kernel_debug"
		"build/objects/lib"
		"build/objects/lib_coverage"
		"build/objects/lib_debug"
		"build/objects/module"
		"build/objects/module_coverage"
		"build/objects/module_debug"
		"build/objects/tool"
		"build/objects/tool_debug"
		"build/objects/uefi"
		"build/objects/user"
		"build/objects/user_coverage"
		"build/objects/user_debug"
		"build/partitions"
		"build/share"
		"build/share/bin"
		"build/share/lib"
		"build/share/test"
		"build/tool"
		"build/uefi"
		"build/user"
		"build/vm"
		"build/vm/tpm"
	}
	empty={
		"build/share/bin"
		"build/share/lib"
	}
	empty_after_mode_change={
		"build/kernel"
		"build/lib"
		"build/module"
		"build/tool"
		"build/user"
	}
	delete_obsolete={
		{
			path="build/lib"
			src_path="src/lib"
			prefix="lib"
		}
		{
			path="build/module"
			src_path="src/module"
			prefix=""
		}
		{
			path="build/user"
			src_path="src/user"
			prefix=""
		}
	}
}
hash_file_path={
	debug="build/hashes/debug.txt"
	coverage="build/hashes/coverage.txt"
	release="build/hashes/release.txt"
}
uefi={
	src_file_directory="src/uefi"
	object_file_directory="build/objects/uefi/"
	output_file_path="build/uefi/loader.efi"
	dependencies={compressor,kfs2}
	includes={uefi,common}
	command={
		compile={
			asm="nasm -f elf64 -O3 -Wall -Werror"
			c="gcc-12 -I/usr/include/efi -I/usr/include/efi/x86_64 -fno-stack-protector -ffreestanding -O3 -fpic -fshort-wchar -mno-red-zone -maccumulate-outgoing-args -fdiagnostics-color=always -DBUILD_UEFI=1 -DGNU_EFI_USE_MS_ABI -Dx86_64 -m64 -Wall -Werror -Wno-trigraphs -Wno-address-of-packed-member -Wno-frame-address -DNULL=((void*)0) -c"
		}
		link="ld -nostdlib -znocombreloc -znoexecstack -fshort-wchar -T /usr/lib/elf_x86_64_efi.lds -shared -Bsymbolic /usr/lib/gcc/x86_64-linux-gnu/12/libgcc.a"
		patch="objcopy -j .text -j .sdata -j .data -j .dynamic -j .dynsym -j .rel -j .rela -j .reloc -S --target=efi-app-x86_64 build/uefi/loader.efi build/uefi/loader.efi"
	}
}
kernel_debug={
	src_file_directory="src/kernel"
	object_file_directory="build/objects/kernel_debug/"
	output_file_path="build/kernel/kernel.elf"
	dependencies={}
	includes={kernel,common}
	command={
		compile={
			asm="nasm -f elf64 -O0 -Wall -Werror"
			c="gcc-12 -mcmodel=kernel -mno-red-zone -mno-mmx -mno-sse -mno-sse2 -mbmi -mbmi2 -fno-lto -fplt -fno-pie -fno-pic -fno-common -fno-builtin -fno-stack-protector -fno-asynchronous-unwind-tables -nostdinc -nostdlib -ffreestanding -fvisibility=hidden -m64 -Wall -Werror -Wno-trigraphs -Wno-address-of-packed-member -Wno-frame-address -c -fdiagnostics-color=always -ftree-loop-distribute-patterns -O0 -ggdb -fno-omit-frame-pointer -DNULL=((void*)0) -DBUILD_KERNEL=1 -DKERNEL_DEBUG=1"
		}
		link="ld -znoexecstack -melf_x86_64 -Bsymbolic -r -O0 -g -T src/kernel/linker.ld"
	}
}
kernel_coverage={
	src_file_directory="src/kernel"
	object_file_directory="build/objects/kernel_coverage/"
	output_file_path="build/kernel/kernel.elf"
	dependencies={}
	includes={kernel,common}
	command={
		compile={
			asm="nasm -f elf64 -O0 -Wall -Werror"
			c="gcc-12 -mcmodel=kernel -mno-red-zone -mno-mmx -mno-sse -mno-sse2 -mbmi -mbmi2 -fno-lto -fplt -fno-pie -fno-pic -fno-common -fno-builtin -fno-stack-protector -fno-asynchronous-unwind-tables -nostdinc -nostdlib -ffreestanding -fvisibility=default -m64 -Wall -Werror -Wno-trigraphs -Wno-address-of-packed-member -Wno-frame-address -c -fdiagnostics-color=always -ftree-loop-distribute-patterns -O0 -ggdb -fno-omit-frame-pointer -DNULL=((void*)0) -DBUILD_KERNEL=1 --coverage -fprofile-arcs -ftest-coverage -fprofile-info-section -fprofile-update=atomic -DKERNEL_COVERAGE=1"
		}
		link="ld -znoexecstack -melf_x86_64 -Bsymbolic -r -O0 -g -T src/kernel/linker.ld"
	}
}
kernel_release={
	src_file_directory="src/kernel"
	object_file_directory="build/objects/kernel/"
	output_file_path="build/kernel/kernel.elf"
	dependencies={}
	includes={kernel,common}
	command={
		compile={
			asm="nasm -f elf64 -O3 -Wall -Werror"
			c="gcc-12 -mcmodel=kernel -mno-red-zone -mno-mmx -mno-sse -mno-sse2 -mbmi -mbmi2 -fno-lto -fplt -fno-pie -fno-pic -fno-common -fno-builtin -fno-stack-protector -fno-asynchronous-unwind-tables -nostdinc -nostdlib -ffreestanding -fvisibility=hidden -m64 -Wall -Werror -Wno-trigraphs -Wno-address-of-packed-member -Wno-frame-address -c -fdiagnostics-color=always -ftree-loop-distribute-patterns -O3 -g0 -fno-omit-frame-pointer -DNULL=((void*)0) -DBUILD_KERNEL=1 -DKERNEL_RELEASE=1"
		}
		link="ld -znoexecstack -melf_x86_64 -Bsymbolic -r -O3 -T src/kernel/linker.ld"
	}
}
module_debug={
	src_file_directory="src/module/$NAME"
	object_file_directory="build/objects/module_debug/"
	output_file_path="build/module/$NAME.mod"
	includes={module/$NAME,kernel,common}
	command={
		compile={
			asm="nasm -f elf64 -O0 -Wall -Werror"
			c="gcc-12 -mcmodel=kernel -mno-red-zone -mno-mmx -mno-sse -mno-sse2 -mbmi -mbmi2 -fno-common -fno-builtin -nostdlib -fno-omit-frame-pointer -fno-asynchronous-unwind-tables -ffreestanding -fvisibility=hidden -fplt -fno-pie -fno-pic -m64 -Wall -Werror -Wno-trigraphs -Wno-address-of-packed-member -Wno-frame-address -c -fdiagnostics-color=always -DNULL=((void*)0) -O0 -ggdb -DBUILD_MODULE=1 -DKERNEL_DEBUG=1"
		}
		link="ld -znoexecstack -melf_x86_64 -Bsymbolic -r -T src/module/linker.ld -g -O0"
	}
}
module_coverage={
	src_file_directory="src/module/$NAME"
	object_file_directory="build/objects/module_coverage/"
	output_file_path="build/module/$NAME.mod"
	includes={module/$NAME,kernel,common}
	command={
		compile={
			asm="nasm -f elf64 -O0 -Wall -Werror"
			c="gcc-12 -mcmodel=kernel -mno-red-zone -mno-mmx -mno-sse -mno-sse2 -mbmi -mbmi2 -fno-common -fno-builtin -nostdlib -fno-omit-frame-pointer -fno-asynchronous-unwind-tables -ffreestanding -fvisibility=default -fplt -fno-pie -fno-pic -m64 -Wall -Werror -Wno-trigraphs -Wno-address-of-packed-member -Wno-frame-address -c -fdiagnostics-color=always -DNULL=((void*)0) -O0 -ggdb --coverage -fprofile-arcs -ftest-coverage -fprofile-info-section -fprofile-update=atomic -DBUILD_MODULE=1 -DKERNEL_COVERAGE=1"
		}
		link="ld -znoexecstack -melf_x86_64 -Bsymbolic -r -T src/module/linker.ld -g -O0"
	}
}
module_release={
	src_file_directory="src/module/$NAME"
	object_file_directory="build/objects/module/"
	output_file_path="build/module/$NAME.mod"
	includes={module/$NAME,kernel,common}
	command={
		compile={
			asm="nasm -f elf64 -O3 -Wall -Werror"
			c="gcc-12 -mcmodel=kernel -mno-red-zone -mno-mmx -mno-sse -mno-sse2 -mbmi -mbmi2 -fno-common -fno-builtin -nostdlib -fno-omit-frame-pointer -fno-asynchronous-unwind-tables -ffreestanding -fvisibility=hidden -fplt -fno-pie -fno-pic -m64 -Wall -Werror -Wno-trigraphs -Wno-address-of-packed-member -Wno-frame-address -c -fdiagnostics-color=always -DNULL=((void*)0) -O3 -g0 -DBUILD_MODULE=1 -DKERNEL_RELEASE=1"
		}
		link="ld -znoexecstack -melf_x86_64 -Bsymbolic -r -T src/module/linker.ld -O3"
	}
}
lib_debug={
	src_file_directory="src/lib/$NAME"
	object_file_directory="build/objects/lib_debug/"
	output_file_path="build/lib/lib$NAME.so"
	archive_output_file_path="build/lib/lib$NAME.a"
	includes={lib/$NAME,lib/$NAME/_generated,common}
	command={
		compile={
			asm="nasm -f elf64 -Wall -Werror -DBUILD_SHARED=1 -O0 -g"
			c="gcc-12 -fno-common -fno-builtin -nostdlib -fvisibility=hidden -ffreestanding -shared -fpic -m64 -Wall -Werror -Wno-trigraphs -c -fdiagnostics-color=always -DNULL=((void*)0) -O0 -ggdb -fno-omit-frame-pointer"
		}
		link="ld -znoexecstack -melf_x86_64 -T src/lib/linker.ld --exclude-libs ALL -shared -O0 -g"
		archive="ar rcs"
	}
}
lib_coverage={
	src_file_directory="src/lib/$NAME"
	object_file_directory="build/objects/lib_coverage/"
	output_file_path="build/lib/lib$NAME.so"
	archive_output_file_path="build/lib/lib$NAME.a"
	includes={lib/$NAME,lib/$NAME/_generated,common}
	command={
		compile={
			asm="nasm -f elf64 -Wall -Werror -DBUILD_SHARED=1 -O0 -g"
			c="gcc-12 -fno-common -fno-builtin -nostdlib -fvisibility=hidden -ffreestanding -shared -fpic -m64 -Wall -Werror -Wno-trigraphs -c -fdiagnostics-color=always -DNULL=((void*)0) -O0 -ggdb -fno-omit-frame-pointer --coverage -fprofile-arcs -ftest-coverage -fprofile-info-section -fprofile-update=atomic -DKERNEL_COVERAGE=1"
		}
		link="ld -znoexecstack -melf_x86_64 -T src/lib/linker.ld --exclude-libs ALL -shared -O0 -g"
		archive="ar rcs"
	}
}
lib_release={
	src_file_directory="src/lib/$NAME"
	object_file_directory="build/objects/lib/"
	output_file_path="build/lib/lib$NAME.so"
	archive_output_file_path="build/lib/lib$NAME.a"
	includes={lib/$NAME,lib/$NAME/_generated,common}
	command={
		compile={
			asm="nasm -f elf64 -Wall -Werror -DBUILD_SHARED=1 -O3"
			c="gcc-12 -fno-common -fno-builtin -nostdlib -fvisibility=hidden -ffreestanding -shared -fpic -m64 -Wall -Werror -Wno-trigraphs -c -fdiagnostics-color=always -DNULL=((void*)0) -O3 -g0 -fdata-sections -ffunction-sections -fomit-frame-pointer"
		}
		link="ld -znoexecstack -melf_x86_64 -T src/lib/linker.ld --exclude-libs ALL -shared -O3 --gc-sections -s"
		archive="ar rcs"
	}
}
user_debug={
	src_file_directory="src/user/$NAME"
	object_file_directory="build/objects/user_debug/"
	output_file_path="build/user/$NAME"
	includes={user/$NAME,common}
	command={
		compile={
			asm="nasm -f elf64 -Wall -Werror -O0 -g"
			c="gcc-12 -fno-common -fno-builtin -nostdlib -ffreestanding -fno-pie -fno-pic -m64 -Wall -Werror -Wno-trigraphs -c -fdiagnostics-color=always -DNULL=((void*)0) -O0 -ggdb -fno-omit-frame-pointer"
		}
		link="ld -znoexecstack -melf_x86_64 -I/lib/ld.so -T src/user/linker.ld --exclude-libs ALL -O0 -g"
	}
}
user_coverage={
	src_file_directory="src/user/$NAME"
	object_file_directory="build/objects/user_coverage/"
	output_file_path="build/user/$NAME"
	includes={user/$NAME,common}
	command={
		compile={
			asm="nasm -f elf64 -Wall -Werror -O0 -g"
			c="gcc-12 -fno-common -fno-builtin -nostdlib -ffreestanding -fno-pie -fno-pic -m64 -Wall -Werror -Wno-trigraphs -c -fdiagnostics-color=always -DNULL=((void*)0) -O0 -ggdb -fno-omit-frame-pointer --coverage -fprofile-arcs -ftest-coverage -fprofile-info-section -fprofile-update=atomic -DKERNEL_COVERAGE=1"
		}
		link="ld -znoexecstack -melf_x86_64 -I/lib/ld.so -T src/user/linker.ld --exclude-libs ALL -O0 -g"
	}
}
user_release={
	src_file_directory="src/user/$NAME"
	object_file_directory="build/objects/user/"
	output_file_path="build/user/$NAME"
	includes={user/$NAME,common}
	command={
		compile={
			asm="nasm -f elf64 -Wall -Werror -O3"
			c="gcc-12 -fno-common -fno-builtin -nostdlib -ffreestanding -fno-pie -fno-pic -m64 -Wall -Werror -Wno-trigraphs -c -fdiagnostics-color=always -DNULL=((void*)0) -O3 -g0 -fdata-sections -ffunction-sections -fomit-frame-pointer"
		}
		link="ld -znoexecstack -melf_x86_64 -I/lib/ld.so -T src/user/linker.ld --exclude-libs ALL -O3 --gc-sections -s"
	}
}
tool_debug={
	src_file_directory="src/tool/$NAME"
	object_file_directory="build/objects/tool_debug/"
	output_file_path="build/tool/$NAME"
	includes={tool/$NAME,common}
	command={
		compile={
			asm="nasm -f elf64 -Wall -Werror -O0 -g"
			c="gcc-12 -m64 -Wall -Werror -Wno-trigraphs -c -fdiagnostics-color=always -DBUILD_TOOL=1 -DNULL=((void*)0) -Wno-address-of-packed-member -Wno-frame-address -O0 -ggdb -fno-omit-frame-pointer"
		}
		link="gcc-12 -Wl,-znoexecstack -O0 -g"
	}
}
tool_coverage={
	src_file_directory="src/tool/$NAME"
	object_file_directory="build/objects/tool_debug/"
	output_file_path="build/tool/$NAME"
	includes={tool/$NAME,common}
	command={
		compile={
			asm="nasm -f elf64 -Wall -Werror -O0 -g"
			c="gcc-12 -m64 -Wall -Werror -Wno-trigraphs -c -fdiagnostics-color=always -DBUILD_TOOL=1 -DNULL=((void*)0) -Wno-address-of-packed-member -Wno-frame-address -O0 -ggdb -fno-omit-frame-pointer"
		}
		link="gcc-12 -Wl,-znoexecstack -O0 -g"
	}
}
tool_release={
	src_file_directory="src/tool/$NAME"
	object_file_directory="build/objects/tool/"
	output_file_path="build/tool/$NAME"
	includes={tool/$NAME,common}
	command={
		compile={
			asm="nasm -f elf64 -Wall -Werror -O3"
			c="gcc-12 -m64 -Wall -Werror -Wno-trigraphs -c -fdiagnostics-color=always -DBUILD_TOOL=1 -DNULL=((void*)0) -Wno-address-of-packed-member -Wno-frame-address -O3 -g0 -fdata-sections -ffunction-sections -fomit-frame-pointer"
		}
		link="gcc-12 -Wl,-znoexecstack -O3 -g0 -Wl,--gc-sections -Wl,-s"
	}
}
install_disk={
	block_size=512
	size=262144
}
