# Filesystems
iso9660=early
kfs2=early

# Partition descriptors
gpt=early

# USB drivers
usb_msc=early

# PCI drivers
ahci=early
ata=early
i82540
nvme=early
xhci=early

# AML
aml
aml_bus
aml_shutdown

# Shutdown
vm_shutdown

# dynamicfs
dynamicfs
devfs
lockfs
procfs
sysfs

# Network layer2
net_common
net_arp
net_ip

# Network layer3
net_udp

# Network layer4
net_dhcp

# Coverage
coverage=coverage
